body{
    padding: 0;
    margin: 0;
    top: 0;
    background-color: rgba(25, 24, 24, 0.905);
}

.criadorSaiba{
    padding-left: 30px;
    padding-top: 15px;
}

header{ 
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

.logoGerminaFlix{   
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

.saibaMais{
    color: aliceblue;
    padding-top: 3px;
}

.posterFilme{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    height: 500px;
}



.resenhaFilme{
    color: aliceblue;
    width: 1000px;
    text-align: center;
    display: flex;
    justify-self: center;
}
h2{
    text-align: center;
    color: aliceblue;
}
h1{
    color: aliceblue;
    width: 1000px;
    text-align: center;
    display: flex;
    justify-self: center;
}
